<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传WriteUP文件</title>
</head>
<body>
<h1>上传WriteUP文件</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <div class="field">
            <label class="label_field">选择上传的WriteUP文件（每场比赛仅可上传一次，请仔细确认无误后上传）：</label>
            <br/>
            <input id="file" type="file" name="file" accept=".pdf," onchange="editType();" placeholder="请选择pdf格式的文件"/>
        </div>
        <input type="hidden" value="{{ request.GET.matchID }}" name="matchID">
        <div class="field margin_0">
            <button class="main_bt" formaction="/uploadwp/">提交</button>
        </div>
    </fieldset>
</form>
<script>
    function editType() {
        let file = $("#file").val();
        if (!file) {
            let filename = file.substr(file.lastIndexOf("."));
            if (filename !== 'pdf') {
                alert("请上传pdf格式的文件");
            }
        }
    }
</script>
</body>
</html>